.review{
    border: 1px solid #1C2B35;
    width: 90%;
    margin: 20px 5px;
    border-radius: 10px;
    display: flex;
}

 img{
    height: 91px;
    margin: 5px;
}

.content{
display: flex;
justify-content: space-between;
align-items: center;
}